$default_font_family:'Roboto', sans-serif !default;
$alternate_font_family_1:'Roboto Slab', sans-serif !default;
$alternate_font_family_2:'Source Sans Pro', sans-serif !default;
$alternate_font_family_3:'Barlow', sans-serif;;

$primary_color:#DF2A33 !default;
$secondary_color:#0A0C0D !default;
$tertiary_color:#717376 !default;
$quaternary_color:#F3F3F3 !default;
$true_white:#ffffff !default;
$true_black:#000000 !default;
$stars_color:#E8B835 !default;
$error_color:#D60707 !default;
$contact_form_border:$primary_color !default;
$tab_background_border:#F2F2F3 !default;
$callbtn_color:#F4F4F4 !default;
$financing_bg_color:#FBFAFA !default;
$darkgray_color:#353535 !default;
$medgray_color:#898989 !default;
$ltgray_color:#F6F6F6 !default;


// Add value in the array

$margin-value: (0,15,10,16,18,20,25,30,40,48); 
$padding-value: (0,7,10,15,16,18,20,26,25,28,30,38,40,42,45,50,56,60,80,88,125,160); 
$grid_gap: (0, 8, 10, 20, 30);

// scss-docs-start grid-breakpoints
$custom-breakpoints: (
  xs: 0,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// If you mobile container padding 20px set true, otherwise false
$enable-mobile-gutters:   true !default;

// Container padding

$grid-gutter-width:  1.5rem;

$container-padding-x: $grid-gutter-width * 0.625;

$m-container-padding-x: $grid-gutter-width * 0.8333333333;

//Mobile Subpage h1
$m-h1-size: 32px;
$m-h1-line-height: 40px;

//announcment bar text
$announcment_bar_text_color: $secondary_color !default;
$announcment_bar_text_font_size: 16px !default; 
$announcment_bar_text_line_height: 20px !default; 
$announcment_bar_word_spacing: 0px !default;

// Footer text
$footer_text_font_family: $default_font_family;
$footer_text_font_size: 16px;
$footer_text_font_weight: 400;
$footer_text_text_transform: none;
$footer_text_line_height: 28.8px;
$footer_text_color: $true_white;
$footer_text_word_spacing: 0px;

// btn text/link 
$btn_text_font_family: $default_font_family;
$btn_text_font_size: 18px;
$btn_text_font_weight: 700;
$btn_text_text_transform: uppercase;
$btn_text_line_height: 22.5px;
$btn_text_color: $true_white;
$btn_text_word_spacing: 0px;



// swiper
$swiper_bullet_color: #898989 !default;
$swiper_bullet_active_color: $true_black !default;
$swiper_bullet_width: 10px !default;
$swiper_bullet_height: 10px !default;

$swiper_arrow_color: $true_black !default;
$swiper_arrow_hover_color: $secondary_color !default;
$swiper_arrow_width: 60px !default;
$swiper_arrow_height: 60px !default;
$swiper_arrow_bg_radius: 30px !default;
$swiper_arrow_size: 20px !default;
$swiper_bullet_spacing: 8px;

// form
$floating_gfield_padding_bottom:15px;

$floating_labels_color: $true_black !default;
$floating_labels_font_size: 14px !default;  
$floating_labels_line_height:18px !default;
$floating_labels_font_weight: 500 !default;
$floating_labels_font_family: $default_font_family !default;
$floating_labels_text_transform: uppercase !default;
$floating_labels_margin_top: 18px !default;
$floating_labels_z_index: 10 !default;    

$floating_labels_float_font_size: 9px !default;  
$floating_labels_float_margin_top: 3px !default;  



$form_input_color: $floating_labels_color;
$form_font_size: $floating_labels_font_size !default;  
$form_line_height:$floating_labels_line_height !default;
$form_font_weight: $floating_labels_font_weight !default;
$form_font_family: $floating_labels_font_family !default;
$form_input_bg_color: $true_white !default;  


$form_textarea_height: 125px !default;
$form_input_padding:14px 10px 14px;
$form_input_border_color: $contact_form_border !default;
$form_input_bg_radius:0px !default;

$form_select_padding:14px 30px 14px 8px;
$form_select_arrow_color: #000000 !default; 
$blog_search_select_arrow_color: $primary_color !default; 


$form_checkbox_label_font_family: $default_font_family !default;
$form_checkbox_font_size: 14px !default;
$form_checkbox_line_height: 28px !default;
$form_checkbox_label_font_weight: 500 !default;
$form_checkbox_label_color: $true_black !default;
$form_checkbox_input_width: 13px !default;         
$form_checkbox_input_height: 13px !default;

$checkbox_input_background_color: $true_black !default;
$checkbox_input_border_color: $true_black !default;
$checkbox_checked_background_color:$true_black !default;
$checkbox_checked_border_color: $true_black !default;
$checkbox_checked_color: $true_white !default;
$checkbox_checked_after_font_size: 14px !default;
$checkbox_checked_after_color: $true_white !default;
$checkbox_checked_after_border_bottom_color: $true_white !default;
$checkbox_checked_after_border_right_color: $true_white !default;

$form_radio_label_font_weight: 400 !default;

$form_error_color:$error_color;

$form_sidebar_gfield_padding_bottom: 15px;
$form_sidebar_input_padding: 14px 10px;
$form_sidebar_select_padding :15.2px 30px 15.2px 15.2px;



// If the bg is dark, use white color for the floating labels

$form_bg_floating_margin_top: null !default; 
$form_bg_label_floating_color: null !default; 
$form_bg_floating_float_margin_top: null !default; 
$form_bg_floating_float_font_size: null !default; 

$form_bg_checkbox_label_font_family: null !default; 
$form_bg_checkbox_font_size: 14px !default; 
$form_bg_checkbox_line_height: 25.2px !default; 
$form_bg_checkbox_label_font_weight: 400 !default; 
$form_bg_checkbox_label_color: $true_white !default; 
$form_bg_checkbox_input_width:  null !default; 
$form_bg_checkbox_input_height: null !default; 

$form_bg_checkbox_input_background_color: $true_black !default; 
$form_bg_checkbox_input_border_color: $true_white !default; 
$form_bg_checkbox_checked_background_color: $true_white !default; 
$form_bg_checkbox_checked_border_color: $true_white !default; 
$form_bg_checkbox_checked_color: null !default; 
$form_bg_checkbox_checked_after_font_size: null !default; 
$form_bg_checkbox_checked_after_color:  null !default; 
$form_bg_checkbox_checked_after_border_bottom_color: $true_black !default; 
$form_bg_checkbox_checked_after_border_right_color: $true_black !default; 

$form_bg_input_padding: null !default; 
$form_bg_input_border_color: $primary_color !default; 
$form_bg_input_bg_color: $true_white !default; 
$form_bg_input_color: $true_black !default; 
$form_bg_select_arrow_color: null !default;

$border_form_floating_margin_top: if($form_bg_floating_margin_top != null, $form_bg_floating_margin_top, $floating_labels_margin_top) !default;
$border_form_label_floating_color: if($form_bg_label_floating_color != null, $form_bg_label_floating_color, $floating_labels_color) !default;
$border_form_floating_float_margin_top: if($form_bg_floating_float_margin_top != null, $form_bg_floating_float_margin_top, $floating_labels_float_margin_top) !default;
$border_form_floating_float_font_size: if($form_bg_floating_float_font_size != null, $form_bg_floating_float_font_size, $floating_labels_float_font_size) !default;

$border_form_checkbox_label_font_family: if($form_bg_checkbox_label_font_family != null, $form_bg_checkbox_label_font_family, $form_checkbox_label_font_family) !default;
$border_form_checkbox_font_size: if($form_bg_checkbox_font_size != null, $form_bg_checkbox_font_size, $form_checkbox_font_size) !default;
$border_form_checkbox_line_height: if($form_bg_checkbox_line_height != null, $form_bg_checkbox_line_height, $form_checkbox_line_height) !default;
$border_form_checkbox_label_font_weight: if($form_bg_checkbox_label_font_weight != null, $form_bg_checkbox_label_font_weight, $form_checkbox_label_font_weight) !default;
$border_form_checkbox_label_color: if($form_bg_checkbox_label_color != null, $form_bg_checkbox_label_color, $form_checkbox_label_color) !default;
$border_form_checkbox_input_width: if($form_bg_checkbox_input_width != null, $form_bg_checkbox_input_width, $form_checkbox_input_width) !default;
$border_form_checkbox_input_height: if($form_bg_checkbox_input_height != null, $form_bg_checkbox_input_height, $form_checkbox_input_height) !default;

$border_form_checkbox_input_background_color: if($form_bg_checkbox_input_background_color != null, $form_bg_checkbox_input_background_color, $checkbox_input_background_color) !default;
$border_form_checkbox_input_border_color: if($form_bg_checkbox_input_border_color != null, $form_bg_checkbox_input_border_color, $checkbox_input_border_color) !default;
$border_form_checkbox_checked_background_color: if($form_bg_checkbox_checked_background_color != null, $form_bg_checkbox_checked_background_color, $checkbox_checked_background_color) !default;
$border_form_checkbox_checked_border_color: if($form_bg_checkbox_checked_border_color != null, $form_bg_checkbox_checked_border_color, $checkbox_checked_border_color) !default;
$border_form_checkbox_checked_color: if($form_bg_checkbox_checked_color != null, $form_bg_checkbox_checked_color, $checkbox_checked_color) !default;
$border_form_checkbox_checked_after_font_size: if($form_bg_checkbox_checked_after_font_size != null, $form_bg_checkbox_checked_after_font_size, $checkbox_checked_after_font_size) !default;
$border_form_checkbox_checked_after_color: if($form_bg_checkbox_checked_after_color != null, $form_bg_checkbox_checked_after_color, $checkbox_checked_after_color) !default;
$border_form_checkbox_checked_after_border_bottom_color: if($form_bg_checkbox_checked_after_border_bottom_color != null, $form_bg_checkbox_checked_after_border_bottom_color, $checkbox_checked_after_border_bottom_color) !default;
$border_form_checkbox_checked_after_border_right_color: if($form_bg_checkbox_checked_after_border_right_color != null, $form_bg_checkbox_checked_after_border_right_color, $checkbox_checked_after_border_right_color) !default;

$border_form_input_padding: if($form_bg_input_padding != null, $form_bg_input_padding, $form_input_padding) !default;
$border_form_input_border_color: if($form_bg_input_border_color != null, $form_bg_input_border_color, $form_input_border_color) !default;
$border_form_bg_input_color: if($form_bg_input_bg_color != null, $form_bg_input_bg_color, $form_input_bg_color) !default;
$border_form_input_color: if($form_bg_input_color != null, $form_bg_input_color, $form_input_color) !default;

$border_form_select_arrow_color: if($form_bg_select_arrow_color != null, $form_bg_select_arrow_color, $form_select_arrow_color) !default;

//pagination

$pagination_border_colors: $primary_color !default;
$pagination_line_height: 30px !default;
$pagination_font_size: 16px !default;
$pagination_font_weight: 400 !default;
$pagination_font_family: $default_font_family !default;
$pagination_colors: $true_black !default;
$pagination_hover_background_color: $primary_color !default;
$pagination_current_background_color: $primary_color !default;
$pagination_current_color: $true_white !default;

//accordion
$accordions_border_color: $tertiary_color !default;
$accordions_border_width: 1.5px !default;
$accordions_h3_color: $true_black !default;

//Buttons
$btn-min-width: 250px;
$btn-min-height: 50px;
$btn-padding-left:25px;
$btn-padding-right:25px;