.sticky_bottom_btn {
    .btn-primary {
        &:before {
            display: none;
        }
    }
}

.footer_text {
    font-family: $footer_text_font_family;
    font-size: $footer_text_font_size;
    font-weight: $footer_text_font_weight;
    text-transform: $footer_text_text_transform;
    line-height: $footer_text_line_height;
    color: $footer_text_color;
    word-spacing: $footer_text_word_spacing;
}

 .footer_links, .elementor .footer_links {
        @include media-breakpoint-down(lg) {
         font-size: $footer_text_font_size;
         line-height: $footer_text_line_height;
         word-spacing: $footer_text_word_spacing;
        }
 }
 /* footer css start here */
/* footer css start here */
footer {
    .footer-logo{
            height: 152px;
            @media(max-width:991px){
                height:auto;
            }
    }

    .footer-outer{
        padding-block:50px;
        @media(max-width:991px){
            padding-block:40px;
        }
        a.footer_links:hover {
            text-decoration: underline!important;
        }
    }
    .footer-call-icon{
        display: grid;
        gap:25px;
        margin-top: 25px;
        .mobile-phone-box{
            display: flex;
            justify-content: center;
            margin-bottom: 12px;
            align-items: center;
            @media(max-width:991px){
                margin-bottom: 0px;
            }
        }
        .footer_phone_number {
    display: block;
   
    @media (max-width:991px) {
        margin-top: 10px;
    }
   
}
 .license-number {
    padding-left: 37px;
     @media (max-width:991px) {
       justify-content: center;
       padding-left: 0px;
       padding-top:10px;
    }
}
    }
    .location-footer{
       @media(max-width:991px){
        width: 100%!important;
        margin-top: 22px;
       } 
       .mw-266 {
        @media(max-width:991px){
            max-width: 100%!important;
           } 
    }
    .d-flex.gap-2 {
        justify-content: start;
        gap: 10px !important;
        @media(max-width:1199px){
            justify-content: start !important;
            gap: 10px !important;
        }
        @media(max-width:991px){
            max-width: 280px;
            margin: 0 auto;
            justify-content: center !important;
            gap:20px!important;
           } 
    }
.address-box-inner {
    h6{
            @media(max-width:991px){
        margin-bottom: 12px!important;
            }
    }
    p.footer_add {
        margin-bottom: 25px;
         @media(max-width:991px){
            margin-bottom:25px;
            font-size: 14px!important;
           } 
    }
}
    }
    .footer-social-icons{
        margin-top:25px;
        @media(max-width:991px){
            margin-top:0px;
        }
        h6{
           
        }
    }
    .hours-operation{
        @media(max-width:991px){
            margin-top: 25px;
            margin-bottom :18px;
        }
        p.footer_add {
            @media(max-width:991px){
            font-size: 14px!important;
        } 
        }
    }
}
body .fixed-bottom.btn {
    overflow: visible!important;
    border-radius: 0px!important;
    a.btn {
        gap: 10px;
        &:hover{
            color:$true_white !important;
        }
    }
}
.footer_copyright_bar {
    padding-block: 34px 35px;
    color:$true_white;
    .container{
            font-size: 16px;
    line-height: 28px !important;
    font-weight: 400;
    font-family: $default_font_family;
    @media(max-width:991px){
padding-inline: 24px;
    }
            a.footer_copyright_links {
    color:$true_white!important;

    &:hover{
        text-decoration: underline;
    }
}
a{
    color:$true_white!important;
     &:hover{
        text-decoration: underline;
    }
}
    }
    @media(max-width:991px){
        padding-block: 15px;
        margin-bottom: 50px !important;
    }
}
footer.border-top-primary{
    border-top:15px solid $primary_color;
    @media(max-width:991px){
        background-position: center left !important;
    }
}

.check-location .content_py_50 {
    @media(max-width:991px){
    padding-block: 15px !important;
}
}
span.d-lg-block.d-none.extra-line {
    @media(min-width:991px){
    display: inline-block !important;
}
}
.check-location {
    margin-bottom: 50px;
    @media(max-width:991px){
        margin-bottom: 40px;
    }
}
