.site_header {
    .nav_container_desktop_a{
        #navbarSupportedContentDesktop{
            ul.navbar-nav{
                li{
                    padding-bottom: 25px;
                    @media(max-width:1199px){
                        padding-right: 20px !important;
                    }

                    a{
                        i{
                            // color:$tertiary_color;
                        }
                    }
                }
            }
        }
    }
    .header_call_box {
        margin-block: 15px 35px;
        gap: 14px;
        .btn-primary{
           padding:10px 10px!important;
        }
    }
    span#schedule_online_button_desktop {
        min-width: 258px !important;
    }
    .call_today {
        align-items: center;
        display: flex;
        gap: 10px;
    }
}
.bc_nav_container_mobile {
    background-color: $true_black;
    #navbarSupportedContent {
        ul.navbar-nav{
            li{
                ul{
                    li{
                        a{
                            span{
                                font-weight: 400;
                            line-height: 16px;
                            }
                        }

                    }
                }
                a{
                    span{
                        text-transform: uppercase;
                        color:$true_white!important;
                            font-weight: 500;
                            line-height: 20px;
                    }
                    i{
                        color:$true_white;
                    }
                }
            }
        }
    }
}

.mobile_nav_type_A {
.mobile-cross-box button {
    
}
 .mobile-cross-box {
    @media(max-width:767px){
  text-align: end;
}
 }
}
.bc_nav_container_mobile #navbarSupportedContent>ul.navbar-nav>li.dropdown-active>a {
    border-bottom: 2px solid $primary_color;
}
.bc_nav_container_mobile #navbarSupportedContent > ul.navbar-nav > li:last-child{
border-bottom: 1px solid $true_white!important;
}
body .mobile_popup_form_background_color 
{
    .modal-content{
        background-color: transparent;
    }
    .modal-dialog {
        max-width: 100% !important;
    }
    .mobile-cross-box {
        @media(max-width:575px){
            padding-right: 7px!important;
    }
}
.btn-primary{
    border: none;
    text-decoration: none;
    width: 100%;
    min-height: 43px!important;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.5px;
    span{
        font-weight: 500;
    font-size: 14px;
    line-height: 17.5px;
        margin-top: 3px;
    }
    &:hover{
            font-size: 15px !important;
    line-height: 15px !important;
    }
}
}

.phone-icon{
    a{
        border-radius: 100%;
    }
}

.mobile_popup_form_background_color {
    background: $true_black !important;
}

.bc_nav_container_mobile #navbarSupportedContent > ul.navbar-nav > li{
    border-top: 1px solid $true_white!important;
}

ul#menu-mobile-main-menu {
    @media(max-width:767px){
    max-width: 314px;
    margin: 0 auto !important;
}
}

.bc_nav_container_mobile #navbarSupportedContent ul.navbar-nav li > ul > li > a span{
color: $true_black!important;
}
.bc_nav_container_mobile #navbarSupportedContent ul.navbar-nav li > ul{
    @media(max-width:991px){
    max-width: 100vw !important;
    width: 100vw !important;
    margin-inline: calc(50% - 50vw) !important;
    padding-inline: 60px !important;
    transition: none!important;
    border-radius: 0px!important;
}
}
@media (hover: none), only screen and (max-width: 991px) {
    .bc_nav_container_mobile #navbarSupportedContent ul li.dropdown-active > a .nav-link-title {
        color: $true_white !important;
    }
}
a#rds_footer_element_0, a#rds_footer_element_1, span#rds_footer_element_2, a#rds_footer_element_4 {
    display: none;
}