
/* review css start here */
.home-reviews{
    .review-img {
        position: relative;

img{
    border:7px solid $primary_color;
    @media(max-width:991px){
        width: 100%;
    }
}
    }
    .reviews-content{
        @media(max-width:991px){
        margin-top: 30px;
    }
    h4{
        @media(max-width:991px){
        max-width: 264px;
    }
}
        h5{
            margin-bottom: 15px;
        }
        h2{
            margin-bottom: 30px;
        }
        p{
              margin-bottom: 20px;
        }
        .slide-icon{
            margin-bottom: 20px;
        }
        .read-more-rev-btn {
    margin-top: 20px;
     @media(max-width:991px){
    margin-top: 30px;
     }
     a{
        padding-inline: 10px !important;
        @media(max-width:991px){
   padding: 0!important;
     }
     }
}
strong{
    margin-bottom: 20px!important;
    font-weight: 700!important;
    @media(max-width:991px){
    margin-top: 0px;
     }
}
.swiper-pagination-bullets {
    text-align: start !important;
    @media(max-width:991px){
        text-align: center!important;
    }
}
    }
}

.testimonial-page{
    h1{
        margin-bottom: 15px;
    }
    h2{
        margin-bottom: 34.5px;
    }
    .col-lg-2 {
         @media(max-width:991px){
    padding-inline: 35px!important;
    padding-bottom: 15px;
         }
}
    .col-lg-10{
        margin-block: 30px;
        border-right:1px solid $true_black;
        @media(max-width:991px){
            border:none!important;
            margin-block: 15px;
        }
    }
    .review-content {
    padding-inline: 25px;
     @media(max-width:991px){
             padding-inline: 15px;
        }
}
.review_b {
    margin-bottom: 45px;
    .shadow {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
        border-left: 5px solid $tertiary_color;
}
.col-lg-2{
@media(max-width:1199px){
           padding:5px;
        }
}
}
.author-name{
    line-height: 31.5px;
}
.testimonial-pagination {
    margin-top: -15px;
}
}
/* review css end here */
