// Container mixins

@mixin make-container($gutter: $container-padding-x) {
  padding-right: $gutter;
  padding-left: $gutter;
}


@mixin mobile-make-container($gutter: $m-container-padding-x) {
  padding-right: $gutter;
  padding-left: $gutter;
}