
.accordion  {
  margin-top: 10px;
  margin-bottom: 10px;
}

.accordion-item {

  h3 { color: $accordions_h3_color !important;}


  &.border-1 {
    border: $accordions_border_width solid $accordions_border_color !important;
  }
  margin-bottom: 10px;
  border-color: $tertiary_color;
      border: 1.5px solid $tertiary_color!important;

  P:empty{ display: none;
  
  }
}

.elementor-widget-rds-accordion-widget {

      .container-fluid.pb-5 ,.container {
        padding: 0 !important;
    }

}