/*style the items (options), including the selected item:*/
.select-items div,
.select-selected,
.select-selected-category {
	color: $primary_color;
    background: $true_white;
	padding: 10px;
	font-family: $default_font_family !important;
	font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
    border: 1px solid $primary_color;
}
 .select-selected{
	border-radius: 0px 100px 100px 0px !important;
 }
.select-selected-category {
	font-size: 14px;
	font-family: $default_font_family !important;
}
 .input-group-prepend{
            button{
                border-radius: 100px 0  0 100px!important;
            }
        }
		
input#search {
	color: $primary_color !important;
	    border: 1px solid $primary_color !important;
    background-color: $true_white !important;
    border-radius: 0 100px 100px 0 !important;
	max-width: 290px!important;
	&:focus {
    background-color: $true_white !important;
}
&::placeholder{
	color: $primary_color !important;
}
@media(max-width:991px){
	margin-bottom: 20px;
}
}
.select-items {
	color: $true_black !important;
	div {
		color: $true_black;
		border-radius: 0;
		border: none;
		&:hover {
			background-color: $primary_color;
			color: $true_white !important;
		}
	}
}

.custom-select  {
	.select-selected  {
		padding: 10px 30px 10px 10px;
		background-repeat: no-repeat !important;
		background-position: center right !important;
		background-image: url('data:image/svg+xml,<svg width="30" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.45508 8.36426L2.20508 3.11426C1.93164 2.86816 1.93164 2.45801 2.20508 2.18457C2.45117 1.93848 2.86133 1.93848 3.13477 2.18457L7.91992 6.99707L12.7051 2.21191C12.9512 1.93848 13.3613 1.93848 13.6348 2.21191C13.8809 2.45801 13.8809 2.86816 13.6348 3.11426L8.35742 8.36426C8.11133 8.6377 7.70117 8.6377 7.45508 8.36426Z" fill="%23' + str-slice('#{$blog_search_select_arrow_color}', 2) + '"/></svg>') !important;
		background-repeat: no-repeat !important;

	}
	select {
		padding: 10px 30px 10px 10px;
		background-repeat: no-repeat !important;
		background-position: center right !important;
		background-image: url('data:image/svg+xml,<svg width="30" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.45508 8.36426L2.20508 3.11426C1.93164 2.86816 1.93164 2.45801 2.20508 2.18457C2.45117 1.93848 2.86133 1.93848 3.13477 2.18457L7.91992 6.99707L12.7051 2.21191C12.9512 1.93848 13.3613 1.93848 13.6348 2.21191C13.8809 2.45801 13.8809 2.86816 13.6348 3.11426L8.35742 8.36426C8.11133 8.6377 7.70117 8.6377 7.45508 8.36426Z" fill="%23' + str-slice('#{$form_select_arrow_color}', 2) + '"/></svg>') !important;
		background-repeat: no-repeat !important;
	
	}
	&::after {
		display: none !important;
	}
}

.form-control {
    background: $ltgray_color;
	 line-height: 17.5px;
	&:focus {
		background-color:  $ltgray_color !important;
	}
}


