// button styling

$enable-boxshadow-btn:false !default;
$enable-border-btn:true !default;

@mixin btn {
	min-width: $btn-min-width !important;
	min-height: $btn-min-height !important;
	padding-left: $btn-padding-left !important;
    padding-right: $btn-padding-right !important;
	gap: 10px;
	transition: 0.5s ease;

	@if $enable-boxshadow-btn {
		box-shadow: 0px 2px 5px 0px rgba(0, 49, 56, 0.20);
	}
	
	} 
.btn:not(.bc_toggle_btn) {
	@include btn();	
}

@if $enable-border-btn {
	.btn-primary, .elementor .btn-primary { 
		border-width: 2px!important;
	}

	.btn-primary,.elementor .btn-primary,.wpjb-submit ,a.wpjb-button.wpjb-form-toggle.wpjb-form-job-apply,a.wpjb-button.wpjb-form-toggle.wpjb-form-job-apply:visited{

		i {
			margin-right: 0;
		}
	}
	.btn-secondary, .elementor .btn-secondary {  
		border: 2px solid  currentColor !important; 
		&:hover{ 
			border-color: $secondary_color !important; 
		}
	}

	.btn-secondary-alt, .elementor .btn-secondary-alt {  
		border: 2px solid  currentColor !important; 
		&:hover{ 
			background: currentColor !important;
			border-color: currentColor !important; 
		}
	}
}

@media(max-width:440px){
	.btn-primary, .elementor .btn-primary {
    border-width: 2px !important;
    max-width: 250px;
}
}

@media(max-width:440px){
	.btn-secondary, .elementor .btn-secondary {
    border-width: 2px !important;
    max-width: 250px;
}
}