@each $breakpoint in map-keys($custom-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
	  $infix: breakpointinfix($breakpoint, $custom-breakpoints);

	// margin and padding
	
	  @each $prop, $abbrev in (margin: m) {
		$sizes: $margin-value;
		@each $size in $sizes {
		  .rpx_#{$abbrev}#{$infix}_#{$size} { #{$prop}: #{$size}px !important; }
		  .rpx_#{$abbrev}t#{$infix}_#{$size},
		  .rpx_#{$abbrev}y#{$infix}_#{$size} {
			#{$prop}-top: #{$size}px !important;
		  }
		  .rpx_#{$abbrev}t#{$infix}_n#{$size} {
			#{$prop}-top: -#{$size}px !important;
		  }
		  .rpx_#{$abbrev}r#{$infix}_#{$size},
		  .rpx_#{$abbrev}x#{$infix}_#{$size} {
			#{$prop}-right: #{$size}px !important;
		  }
		  .rpx_#{$abbrev}r#{$infix}_n#{$size} {
			#{$prop}-right: -#{$size}px !important;
		  }
		  .rpx_#{$abbrev}b#{$infix}_#{$size},
		  .rpx_#{$abbrev}y#{$infix}_#{$size} {
			#{$prop}-bottom: #{$size}px !important;
		  }
		  .rpx_#{$abbrev}b#{$infix}_n#{$size} {
			#{$prop}-bottom: -#{$size}px !important;
		  }
		  .rpx_#{$abbrev}l#{$infix}_#{$size},
		  .rpx_#{$abbrev}x#{$infix}_#{$size} {
			#{$prop}-left: #{$size}px !important;
		  }
		  .rpx_#{$abbrev}l#{$infix}_n#{$size} {
			#{$prop}-left: -#{$size}px !important;
		  }
		}
	  } 


	  @each $prop, $abbrev in (padding: p) {
		$sizes: $padding-value;
		@each $size in $sizes {
		  .rpx_#{$abbrev}#{$infix}_#{$size} { #{$prop}: #{$size}px !important; }
		  .rpx_#{$abbrev}t#{$infix}_#{$size},
		  .rpx_#{$abbrev}y#{$infix}_#{$size} {
			#{$prop}-top: #{$size}px !important;
		  }
		  .rpx_#{$abbrev}t#{$infix}_n#{$size} {
			#{$prop}-top: -#{$size}px !important;
		  }
		  .rpx_#{$abbrev}r#{$infix}_#{$size},
		  .rpx_#{$abbrev}x#{$infix}_#{$size} {
			#{$prop}-right: #{$size}px !important;
		  }
		  .rpx_#{$abbrev}r#{$infix}_n#{$size} {
			#{$prop}-right: -#{$size}px !important;
		  }
		  .rpx_#{$abbrev}b#{$infix}_#{$size},
		  .rpx_#{$abbrev}y#{$infix}_#{$size} {
			#{$prop}-bottom: #{$size}px !important;
		  }
		  .rpx_#{$abbrev}b#{$infix}_n#{$size} {
			#{$prop}-bottom: -#{$size}px !important;
		  }
		  .rpx_#{$abbrev}l#{$infix}_#{$size},
		  .rpx_#{$abbrev}x#{$infix}_#{$size} {
			#{$prop}-left: #{$size}px !important;
		  }
		  .rpx_#{$abbrev}l#{$infix}_n#{$size} {
			#{$prop}-left: -#{$size}px !important;
		  }
		}
	  } 

	  $grid_gaps: $grid_gap;
	  @each $grid_gap in $grid_gaps {

		  //Classes for Gap
		  .rpx_gap#{$infix}_#{$grid_gap} {
			  gap: #{$grid_gap}px;
		  }

	  }


	  .window_ml#{$infix} { margin-left: calc(50% - 50vw) !important; }

	  .window_mr#{$infix} { margin-right: calc(50% - 50vw) !important; }

	  .window_ml_0#{$infix} { margin-left: 0 !important; }

	  .window_mr_0#{$infix} { margin-right: 0 !important; }

	  .window_width#{$infix} {  max-width: 100vw; width: 100vw; }
      
	  .window_auto#{$infix} {  max-width: 100%; width: 100%; }
	  

	}
	}

img.alignright {float:right; margin:0 0 1em 1em}

img.alignleft {float:left; margin:0 1em 1em 0}

img.aligncenter {display: block; margin-left: auto; margin-right: auto}

a img.alignright {float:right; margin:0 0 1em 1em}

a img.alignleft {float:left; margin:0 1em 1em 0}

a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.rpx_max_w_75 {
    max-width: 75px;
}