.request_form  {
    .modal-dialog {
        padding: 0 !important;
        margin: 3.5rem 0.8rem;
        @include media-breakpoint-up(sm) {
            margin: 2.75rem auto;
        }
        @include media-breakpoint-down(lg) {
        max-width: 720px;
    }
}
    .modal-content {
        background: $white;
        border-radius: 16px;
        @include media-breakpoint-down(lg) {
            border-radius: 0;
        }
    }
    .modal-header {
        padding: 0 28px;
        @include media-breakpoint-down(lg) {
            padding: 0 7.5px;
        }
     }

    .modal-body {
        padding: 38px 28px;
        @include media-breakpoint-down(lg) {
            padding: 11px 7.5px;
        }
    }
    .modal-content {
        border-radius: 16px;
    }
    .elementor-popupform {
        padding: 45.7px 61.7px;
        border-radius: 16px;
        @include media-breakpoint-down(lg) {
            padding: 20px 15px;
        }
    }
}