/* navgations styling */
.nav_container_desktop {

	#navbarSupportedContentDesktop {
		ul.navbar-nav {
             ul {
               border:none;
               min-width: 290px;
                   border-top: 10px solid $primary_color;

             }
			// Level 1 Links
			&>li {
                background: transparent !important;
                &:hover {
                   &>a {
                        .nav-link-title { text-decoration: underline;
                        
                        }
                        i{
                            color:$true_white;
                        }
                    }
                }
			}

            //Level 2 links
			&>li>ul {
                &>li {		
                    position: relative;
                    &:first-child {
                      &>ul {
                        top:-10px;
                      }
                    }		
					&>a {
                           padding: 10px 15px 10px 15px !important;
                            &:hover {
    color: $true_white !important;
}

                           .nav-dropdown-icon {
                            top: 10px;
                            right: 10px;

                        }
                    }

                }
            }
     //Level 3 links
            &>li>ul>li>ul {
                &>li {				
					&>a {
                           padding: 10px 15px 10px 15px !important;
                    }
                }
            }
            
            
		}
	}
}

.mobile_buttons {
    margin-top: 14px;
    padding-bottom: 3px !important;
    @media(max-width:767px){
    max-width: 315px;
    margin-inline: auto
    }
    margin-inline: 15px;
}

body.nav-expanded .announcement-bar {
    display: none;
}
.nav_container_desktop #navbarSupportedContentDesktop ul.navbar-nav li ul li a span {
    font-weight: 400 !important;
}
/* navgations styling */