.pagination {
    margin-bottom: 0 !important;
}
.page-item {
    margin-bottom: 0 !important;
    .page-link {
        border-color: $pagination_border_colors !important;
        line-height: $pagination_line_height;
        font-size: $pagination_font_size;
        font-weight: $pagination_font_weight;
        font-family: $pagination_font_family !important;
        color: $primary_color !important;
        min-height: 44px;
        min-width: 36px;
        &:hover {
            background-color: $pagination_hover_background_color !important;
            color: $pagination_current_color !important;
            text-decoration: none !important;
             font-size: 16px !important;
        }

    }

    &:first-child .page-link {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;

    }
    &:last-child .page-link {
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
    }
    .page-link.current {
        background-color: $pagination_current_background_color !important;
        color: $pagination_current_color !important;
    }
} 


.search-page-pagination,.blog-page-pagination {

    margin: 0 !important;
    padding: 0 !important;
    &> nav {
        margin-top: 0px;
    }

}

.page-numbers, .page-item, .page-item:not(:first-child) .page-link {
    margin-left: 0px!important;
}