/* Common Styles */
div.swiper-pagination-fraction,
div.swiper-pagination-custom,
div.swiper-horizontal > .swiper-pagination-bullets,
div.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 100%;
  margin-top: 30px;
  position: static !important;
  text-align: center;
}
span.swiper-pagination-bullet {
  width: $swiper_bullet_width;
  height: $swiper_bullet_height;
  background: $swiper_bullet_color;
  opacity: 1;
}
span.swiper-pagination-bullet-active {
  background:  $swiper_bullet_active_color;
  transform: scale(1.2);
}

div.swiper-horizontal > .swiper-pagination-bullets,
div.swiper-pagination-horizontal.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    margin: 0 $swiper_bullet_spacing; 
 
  }
}


div.swiper-button-prev,
div.swiper-button-next {
  width:  $swiper_arrow_width;
  height: $swiper_arrow_height;
  margin-top: calc(-#{$swiper_arrow_height} / 2);
	border-radius: $swiper_arrow_bg_radius;
  color: $swiper_arrow_color;
  &:after {
    font-size: $swiper_arrow_size;
    display: block !important;
    font-weight: 700;
  }
  &:hover {
    color: $swiper_arrow_hover_color;
  }
}

.affiliation-swiper {
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -21px;}
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -21px;}
}